<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" preserve-order="true" verbose="1">
	<!-- <listeners> <listener class-name="com.ontestautomation.extentreports.listener.ExtentReporterNG" 
		/> </listeners> -->
	<parameter name="browser" value="chrome" />
	<test name="SanityCheck">
		<!-- <firefox, chrome, ie> -->
		<classes>

			<!-- START creator flow -->
			<class name= "com.lrn.cat.tc.LoginTC" />
			<class name= "com.lrn.cat.tc.ResetTestTC" />
			<class name= "com.lrn.cat.tc.CreateCourseTC" />
 			<class name= "com.lrn.cat.tc.AddLessonTC" />
			<class name= "com.lrn.cat.tc.AddTopicTC" />
 			<class name= "com.lrn.cat.tc.AddPageTC" />
			<class name= "com.lrn.cat.tc.EditConcernTemplateTC" />
			<class name= "com.lrn.cat.tc.AddPageTC1" />
			<class name= "com.lrn.cat.tc.EditConsentTemplateTC" />
			<class name= "com.lrn.cat.tc.AddPageTC2" />
	 		<class name= "com.lrn.cat.tc.EditSAQTC" />
	 		<class name= "com.lrn.cat.tc.AddLessonTC1" />
			<class name= "com.lrn.cat.tc.AddTopicTC1" />
	 		<class name= "com.lrn.cat.tc.AddPageTC3" /> 
 			<class name= "com.lrn.cat.tc.EditTextTemplateTC" /> 
			<class name= "com.lrn.cat.tc.AddPageTC4" />
			<class name= "com.lrn.cat.tc.EditBinaryTemplateTC" />
			<class name= "com.lrn.cat.tc.AddPageTC5" />
			<class name= "com.lrn.cat.tc.EditCarouselTemplateTC" />
			<class name= "com.lrn.cat.tc.AddTopicTC2" />
			<class name= "com.lrn.cat.tc.AddPageTC6" />
 			<class name= "com.lrn.cat.tc.EditConsultTemplateTC" />
 			<class name= "com.lrn.cat.tc.AddPageTC7" />
 			<class name= "com.lrn.cat.tc.EditVideoTemplateTC" />
 			<class name= "com.lrn.cat.tc.AddPageTC8" />
 			<class name= "com.lrn.cat.tc.SidebarTemplateTC" />
 			<class name= "com.lrn.cat.tc.AddLessonTC2" />
 			<class name= "com.lrn.cat.tc.AddPageTC9" />
 			<class name= "com.lrn.cat.tc.EditDragAndDropTemplateTC" />
 			<class name= "com.lrn.cat.tc.AddPageTC10" />
 			<class name= "com.lrn.cat.tc.SelectableImageTC" />
 			<class name= "com.lrn.cat.tc.AddPageTC11" />
 			<class name= "com.lrn.cat.tc.EditMultipleScenarioTemplateTC" />
 			<class name= "com.lrn.cat.tc.AddPageTC12" />
 			<class name= "com.lrn.cat.tc.EditSelectAndRevealTemplateTC" />
 			
 			<class name= "com.lrn.cat.tc.AddPageTC13" />
 			<class name= "com.lrn.cat.tc.SelectableHotspotTC" />
			<class name= "com.lrn.cat.tc.CreateTestOutLessonTC" />
			<class name= "com.lrn.cat.tc.CreateBranchingLessonTC" />
			<class name= "com.lrn.cat.tc.LockPageTC" />
			<class name= "com.lrn.cat.tc.UnlockPageTC" />
			<class name= "com.lrn.cat.tc.HidePageTC" />
			<class name= "com.lrn.cat.tc.UnhidePageTC" />
			<class name= "com.lrn.cat.tc.CopyNodeTC" />
			<class name= "com.lrn.cat.tc.PasteNodeTC" />
			<class name= "com.lrn.cat.tc.DeletePageTC" /> 
			<class name= "com.lrn.cat.tc.LandingPageTC" />
			<class name= "com.lrn.cat.tc.EditCertificationTC" />
			<class name= "com.lrn.cat.tc.KnowledgeCheckTC" />
			<class name= "com.lrn.cat.tc.KCConfigTC" />
			<class name= "com.lrn.cat.tc.TileMenuTC" />
			<class name= "com.lrn.cat.tc.CourseFeaturesTC" />
			<class name= "com.lrn.cat.tc.PublishCourseTC" />
			<class name= "com.lrn.cat.tc.SearchCourseTC" />
			<class name= "com.lrn.cat.tc.EditGetStartedTC" />
			<class name= "com.lrn.cat.tc.ReorderNodesTC" />
			<class name= "com.lrn.cat.tc.PreviewCourseTC" />
			<class name= "com.lrn.cat.tc.RevertCourseTC" />
			<class name= "com.lrn.cat.tc.ExportToWordTC" />
			<class name= "com.lrn.cat.tc.PushToCDVTC" />
			<class name= "com.lrn.cat.tc.CloneCourseTC" />
			<class name= "com.lrn.cat.tc.DeleteCourseTC" />
<!-- 			<class name= "com.lrn.cat.tc.CheckInCourseTC" /> -->
<!-- 			<class name= "com.lrn.cat.tc.CheckOutCourseTC" /> -->
            <class name= "com.lrn.cat.tc.LogoutTC" />
			<!-- END creator flow -->
			
			<!-- START customizer flow -->
			<class name= "com.lrn.cat.tc.LCECLoginTC" />
			<class name= "com.lrn.cat.tc.ModuleManagerTC" />
			<class name= "com.lrn.cat.tc.CustomizerRoleTC" />
			<class name= "com.lrn.cat.tc.AfterSaveAndExitTC" />
			<class name= "com.lrn.cat.tc.LCECLogoutTC" />
			<!-- END customizer flow -->
			
			<!-- test flow -->
			<!-- <class name="com.lrn.cat.tc.LoginTC" />
			<class name= "com.lrn.cat.tc.CreateCourseTC" />
 			<class name= "com.lrn.cat.tc.AddLessonTC" />
			<class name= "com.lrn.cat.tc.AddTopicTC" />
 			<class name= "com.lrn.cat.tc.AddPageTC" />
			<class name= "com.lrn.cat.tc.EditConcernTemplateTC" />
			<class name= "com.lrn.cat.tc.AdvancedTabTC" />
			<class name= "com.lrn.cat.tc.CheckInCourseTC" />
			<class name= "com.lrn.cat.tc.SearchCourseTC" />
			<class name= "com.lrn.cat.tc.EditGetStartedTC" />
			<class name= "com.lrn.cat.tc.AddLessonTC1" />
			<class name= "com.lrn.cat.tc.AddTopicTC1" />
	 		<class name= "com.lrn.cat.tc.AddPageTC3" /> 
 			<class name= "com.lrn.cat.tc.EditTextTemplateTC" /> 
 			<class name= "com.lrn.cat.tc.RevertCourseTC" />
 			<class name="com.lrn.cat.tc.LogoutTC" /> -->
 			
 			
		</classes>
	</test>
</suite> 






 
 
 
 